<%- include('../partials/header') %>

<form id="new-form" action="/skilltoys" method="POST">
<label>Company:</label>
  <select name="company">
    <% companies.forEach(function(c) { %>
      <option value="<%= c._id %>"><%= c.company %></option>
    <% }); %>
  </select>



  <label>Model:<small>(Required Field)</small></label>
  <input type="text" name="model">
 
  <label>Picture: Upload an image link. Works with Facebook, Imgur and others.</label>
  <input type="text" name="image">


  <label>Shape:<small>(Required Field)</small></small></label><br>
  <label for "modified">Modified</label><input type="radio" name="shape" value="modified">
  <label for "wing">Wing</label><input type="radio" name="shape" value="wing">
<br>
  <label>Play Style:</label>
    <label><input type="checkbox" name="style" value="1A" /> 1A Single YoYo String Tricks</label>
    <label><input type="checkbox" name="style" value="2A" /> 2A, 2-handed Looping</label>
    <label><input type="checkbox" name="style" value="3A"/> 3A, 2-handed string tricks</label>
    <label><input type="checkbox" name="style" value="4A" /> 4A Offstring</label>
    <label><input type="checkbox" name="style" value="5A" /> 5A Counterweight or Freehand</label>
<br>

  <label>Specs: Diameter(mm):</label>
    <input type="number" name="diameter" step="any">
  <label>Specs: Width(mm):</label>
    <input type="number" name="width" step="any">
  <label>Specs: Gap(mm):</label>
    <input type="number" name="gap" step="any">
  <label>Specs: Weight(g):</label>
    <input type="number" name="weight" step="any">

<label>axle:</label>
  <select name="Axle">
    <option value="Ball Bearing">Ball bearing</option>
    <option value="Transaxle">Transaxle</option>
    <option value="Wood Axle-fixed">Wood Axle, Fixed</option>
    <option value="Fixed Axle">Fixed Axle, other</option>
  </select>

<label>Axle Tech:</label>
<select name="axleTech">
  <option value="tapped">Tapped</option>
  <option value="Side Effects">Side Effects</option>
  <option value="Pressed Nut">Pressed Nut</option>
  <option value="Helicoil">Helicoil</option>
  <option value="Stax">STAX, RecRev Exclusive</option>
</select>

<label>Axle Specs:</label>
<input type="text" name="axleSpecs">

<label>Bearing Size:</label>
<select name="bearingSize">
  <option value="A">A, 5x10x4</option>
  <option value="B">B</option>
  <option value="N">N, Half-Width C</option>
  <option value="C" selected>C</option>
  <option value="Euro-C">Euro-C, 6x13x5</option>
  <option value="D">D, 5x11X5</option>
  <option value="SpecX Small">K(8x8x3), Spec X Small</option>
  </select>

<label>Bearing Type:</label>
  <select name="bearing">
    <% bearings.forEach(function(b) { %>
    <option value="<%= b._id %>"><%= b.bearing %></option>
    <% }); %>
</select>

<label>Response:</label>
<select name="response">
  <option value="Starburst">Starburst</option>
  <option value="19mm OD Slim pad" selected>19mm OD Slim pad(YYF size)</option>
  <option value="One Drop Flow Groove">One Drop Flow Groove</option>
  <option value="CLYW">CLYW Size</option>
  <option value="Friction Sticker">Friction Sticker</option>
  <option value="Silicone Sticker">Silicone Sticker</option>
  <option value="Size A">Size A Response Pads</option>
  <option value="Size D">Size D Response Pads</option>
  <option value="General Yo Thin Hat pads">General Yo Thin Hat pads</option>
  <option value="Custom">Custom/RTV pads</option>
  </select>
  <label>Flowable RTV Compatible:</label><br>
  <label for "Unknown">Unknown</label><input type="radio" name="flowable" value="Unknown">
  <label for "No">Not Compatible</label><input type="radio" name="flowable" value="Not Compatible">
  <label for "Yes">Compatible</label><input type="radio" name="flowable" value="Compatible">
  <br>
   
  <p></p>
<label>Surface Treatment:</label>
<select name="surfaceTreatment">
  <option value="raw">Raw</option>
  <option value="Bead Blast">Bead Blast</option>
  <option value="Soda Blast">Soda Blast</option>
  <option value="Pyramatte">Pyramatte(One Drop exlusive)</option>
  <option value="GrindeMatte">GrindMatte(YoYoFreaks Exlusive)</option>
  <option value="satin">Satin</option>
  <option value="Polish">Polished</option>
  <option value="CandyBlast">CandyBlast</option>
  <option value="DiamondBlast">DiamondBlast(GSquared Exlusive)</option>
</select>



  <input type="submit" value="Add Yo-Yo">
</form>

<%- include('../partials/footer') %>
