<%- include('../partials/header') %>


Show Page landing Page show.ejs

<section id="show-page">
  <div>Company: </div>
    <div><%= company.company %></div>
  <div>Model: </div>
    <div><%= skilltoy.model %></div>
  <div>Shape:</div>
    <div><%= skilltoy.shape %></div></a></div>

  <div>Style(s):</div>
    <div><%= skilltoy.style %></div></a></div>

    <div>Surface:</div>
    <div><%= skilltoy.surfaceTreatment %></div></a></div>
  <div>Diameter(mm):</div>
    <div><%= skilltoy.diameter %></div></a></div>
  <div>Width(mm):</div>
    <div><%= skilltoy.width %></div></a></div>
  <div>Gap(mm):</div>
    <div><%= skilltoy.gap %></div></a></div>
  <div>Weight(g):</div>
    <div><%= skilltoy.weight %></div></a></div>
  <div>Axle:</div>
    <div><%= skilltoy.axle %></div></a></div>
  <div>Axle Technology:</div>
    <div><%= skilltoy.axleTech %></div></a></div>
  <div>Response:</div>
    <div><%= skilltoy.response %></div></a></div>

    <div>Bearing Size:</div>
    <div><%= skilltoy.bearingSize %></div></a></div>
  <div>Bearing Type:</div>
    <div><%= bearing.bearing %></div>

  <div>Flowable RTV Compatible?</div>
    <div><%= skilltoy.flowable %></div></a></div>

  

      <div></div>
      






      <div>Picture (click for full image):</div>
      <div><A href=" <%= skilltoy.image %>" target = "_blank"><img id="preview" src=" <%= skilltoy.image %>" ></div></a></div>
  
  </section>

<h2>Quick Reviews</h2>
<% if (user) { %>
<form id="add-review-form" method="POST" action="/skilltoys/<%= skilltoy._id %>/reviews">
    <label>Review:</label>
    <textarea name="content" maxlength="500"></textarea>
    <input type="submit" value="Add Review">
  </form>
  <% } %>

  <% if (skilltoy.reviews) { %>
  
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% skilltoy.reviews.forEach(function(r) { %>
       
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
          
            <td>
              <% if (user && user._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>

<%- include('../partials/footer') %>
