<%- include('../partials/header') %>


Show Page landing Page show.ejs

<section id="show-page">
    <div>Brand: </div>
    <div><%= skilltoy.brand %></div>
    <div>Model: </div>
    <div><%= skilltoy.model %></div>
    <div>Picture (click for full image):</div>
    <div><A href=" <%= skilltoy.image %>" target = "_blank"><img id="preview" src=" <%= skilltoy.image %>" ></div></a></div>


  </section>

<h2>Quick Reviews</h2>
<% if (user) { %>
<form id="add-review-form" method="POST" action="/skilltoys/<%= skilltoy._id %>/reviews">
    <label>Review:</label>
    <textarea name="content" maxlength="500"></textarea>
    <input type="submit" value="Add Review">
  </form>
  <% } %>

  <% if (skilltoy.reviews) { %>
  
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% skilltoy.reviews.forEach(function(r) { %>
       
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
          
            <td>
              <% if (user && user._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>

<%- include('../partials/footer') %>
